.topBar {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1C1F1E;
    width: 100vw;
    height: 7vh;
    color: rgb(255,255,255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4vh;
  }

  .container {
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: auto;
  }
  